html, body {
   margin: 0;
   /*height: 100vh;
height: calc(var(--vh, 1vh) * 100);*/
height: 100%;
}
body {
  margin: 0;
  background-color: #e8e8e8;
  color: #565759;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
  overflow-x: hidden;
}
body.active {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab
}
body.interacting {
  cursor: -webkit-grabbing;
  cursor: grabbing
}
iframe:focus {
  outline: none;
}
iframe[seamless] {
  display: block;
}
.v-area {
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
}
.v-area a {
  color: #a0a;
  text-decoration: none;
  pointer-events: all;
}
.v-area a:hover {
  text-decoration: underline;
}
.v-area a[disabled="disabled"] {
  pointer-events: none;
}
.v-area canvas {
	display: block;
	height: 100%;
	width: 100%;
}
v-area .div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.v-staging {
  position: absolute;
  margin: 0;
  padding: 0;
  align-self: center;
  width: 100vw;
  z-index: 25;
}
#vStaging {
  height: 100vh;
}
.loading-text {
  color: #595959;
  text-align: center;
}
.loader {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  color: #595959;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
#loading {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
}
#loading .progress {
  margin: 0;
  border: 1px solid #595959;
  width: 50vw;
  border-radius: 25px;
}
#loading .progressbar {
  margin: 2px;
  background: #595959;
  height: 1em;
  transform-origin: top left;
  width: 50%;
  border-radius: 25px;
}
.v-area .fns-btn,
.v-area .v-staging,
.v-area .v-staging canvas {
  pointer-events: auto;
  cursor: pointer;
}
.v-ar {
  pointer-events: auto;
  position: absolute;
  float: left;
  top: 15px;
  left: 15px;
  margin: 5px;
  padding: 1px;
  height: 35px;
  width: 35px;
  z-index: 275;
}
.v-ar,
.v-ar.active .fns-btn {
  visibility: hidden;
  display: none;
}
.v-ar.active,
.v-ar.active .fns-btn.active {
  visibility: visible;
  display: block;
}
.v-ar .fns-btn,
.v-ar .fns-btn a {
  pointer-events: auto;
  float: left;
  height: 35px;
  width: 35px;
}
.v-navigations {
  pointer-events: none;
  position: absolute;
  float: right;
  top: 15px;
  right: 15px;
  z-index: 75;
}
.v-navigations .fns-btn {
  pointer-events: auto;
  float: left;
  margin: 5px;
  padding: 1px;
  height: 35px;
  width: 35px;
}
.v-navigations .fns-btn:hover {
  box-shadow: 1px 1px 10px 0 #aaa;
  border-radius: 25px;
}
.v-navigations .fns-btn {
  visibility: hidden;
  display: none;
}
.v-navigations .fns-btn.active {
  visibility: visible;
  display: block;
}

.v-panels {
  pointer-events: none;
  position: absolute;
  float: left;
  top: 75px;
  bottom: 100px;
  z-index: 150;
}
.v-panels .v-toggler {
  position: relative;
  float: left;
  left: 15px;
  z-index: 175;
}
.v-panels .v-toggler .fns-btn {
  float: left;
  margin: 5px;
  padding: 1px;
  height: 35px;
  width: 35px;
}
.v-panels .v-toggler .fns-btn:hover {
  margin: 2px;
  border-radius: 50px;
  border: 3px solid #fff;
}
.v-panels,
.v-panels.active.opted .v-toggler .fns-btn:first-child, 
.v-panels .v-toggler .fns-btn:last-child {
  visibility: hidden;
  display: none;
}
.v-panels.active,
.v-panels .v-toggler .fns-btn:first-child, 
.v-panels.active.opted .v-toggler .fns-btn:last-child {
  visibility: visible;
  display: block;
}
.v-panels .v-info {
  position: relative;
  float: left;
  left: 25px;
  color: #808080;
  background: rgb(230, 230, 230);
  background: linear-gradient(0deg, rgba(217, 217, 217, 0.73) 0%, rgba(230, 230, 230, 0.73) 100%);
  border: 5px solid #5c5d60;
  border-width: 5px 0 0 0;
  height: 100%;
  width: 270px;  
  transform: translate(-350px);
}
@keyframes v-info-slide-in {
  0% {
    transform: translate(-350px);
	opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes v-info-slide-out {
  0% {
    transform: translate(0px);
	opacity: 1;
  }
  100% {
    transform: translate(-350px);
	opacity: 0;
  }
}
.v-panels.active .v-info {
  /*
  visibility: hidden;
  display: none;
  */
  animation: v-info-slide-out 0.5s ease-in-out;
  transform: translate(-350px);
  opacity: 0;
}
.v-panels.active.opted .v-info {
  visibility: visible;
  display: block;
  animation: v-info-slide-in 0.5s ease-in-out;
  transform: translate(0px);
  opacity: 1;
}
.v-panels.active .v-info.hide {
	visibility: hidden;
	display: none;
	opacity: 0;
}
.v-panels .header {
  font-family: "Roboto Flex";
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-variation-settings: "wght"700, "wdth"150;
}
.v-panels .content {
	pointer-events: auto;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
	overflow-y: auto;
}
.v-panels .content .more {
  font-family: "Roboto Flex";
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  font-variation-settings: "wght"300, "wdth"300;
  border: 1px solid #aaa;
  border-width: 0px 0px 1px 0px;
}
.v-panels .footer {
  position: absolute;
  margin: 0;
  padding: 0px;
  bottom: 5px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.v-panels .footer .fns-btn {
  float: left;
  margin: 5px;
  padding: 1px;
  height: 35px;
  width: 35px;
}
.v-panels .footer .fns-btn:hover {
  box-shadow: 1px 1px 10px 0 #aaa;
  border-radius: 25px;
}
.v-panels .footer .fns-btn-grp-section .fns-btn-grp {
  visibility: hidden;
  display: none;
}
.v-panels .footer .fns-btn-grp-section .fns-btn-grp.active {
  visibility: visible;
  display: block;
}
#vPanelsFooterShortcut.active #vSocalOn, #vPanelsFooterShortcut #vSocalOff {
  visibility: hidden;
  display: none;
}
#vPanelsFooterShortcut #vSocalOn, #vPanelsFooterShortcut.active #vSocalOff {
  visibility: visible;
  display: block;
}
.v-panels.lighted .v-info {
	color: #fff;
  background: linear-gradient(0deg, rgba(217, 217, 217, 0.1) 0%, rgba(230, 230, 230, 0) 100%);
  border: 5px solid #7b7c7d;
  border-width: 5px 0 0 0;
}
.v-panels.lighted img .st0 {
	fill:#ffffff !important;
}
.v-controls {
  position: absolute;
  float: right;
  display: flex;
  right: 15px;
  bottom: 15px;
  z-index: 50;
}
.v-controls .fns-config {
  /*
  visibility: hidden;
  display: none;
  */
  animation: v-config-slide-out 0.5s ease-in-out;
  transform: translate(315px);
}
.v-controls .fns-config.active {
  visibility: visible;
  display: flex;  
  animation: v-config-slide-in 0.5s ease-in-out;
  transform: translate(0px);
}
.v-controls .fns-btn {
  float: left;
  margin: 5px;
  padding: 1px;
  border-radius: 50px;
  height: 62px;
  width: 62px;
}
.v-controls .fns-btn:hover {
  margin: 2px;
  border: 3px solid #fff;
}
.v-controls .fns-config.opted .fns-btn-grp,
.v-controls .fns-config.opted .fns-btn-grp .fns-btn, 
.v-controls .fns-config.opted .fns-btn-grp-section .fns-btn-grp .fns-btn.color, 
.v-controls .fns-config .fns-btn-grp-section .fns-btn-grp, 
.v-controls .fns-config .fns-btn-grp-section .fns-btn-grp .fns-btn,
.v-controls .fns-config .fns-btn-grp .fns-btn, 
.v-controls .fns-config .fns-btn-grp.illumin,
.v-controls .fns-config .fns-btn-grp.illumin.active.hide .fns-btn:first-child,
.v-controls .fns-config .fns-btn-grp.illumin.active .fns-btn:last-child,
.v-controls .fns-config .fns-btn-grp.env.active.hide .fns-btn:first-child,
.v-controls .fns-config .fns-btn-grp.env.active .fns-btn:last-child {
  visibility: hidden;
  display: none;
}
.v-controls .fns-config .fns-btn-grp.active,
.v-controls .fns-config .fns-btn-grp.active .fns-btn,
.v-controls .fns-config .fns-btn-grp-section .fns-btn-grp .fns-btn.color.active, 
.v-controls .fns-config .fns-btn-grp-section .fns-btn-grp.active, 
.v-controls .fns-config .fns-btn-grp-section .fns-btn-grp .fns-btn.active,
.v-controls .fns-config .fns-btn-grp-section .fns-btn-grp .fns-btn.color, 
.v-controls .fns-config .fns-btn-grp .fns-btn.active, 
.v-controls .fns-config .fns-btn-grp.illumin.active, 
.v-controls .fns-config .fns-btn-grp.illumin.active .fns-btn:first-child,
.v-controls .fns-config .fns-btn-grp.illumin.active.hide .fns-btn:last-child,
.v-controls .fns-config .fns-btn-grp.env.active,
.v-controls .fns-config .fns-btn-grp.env.active .fns-btn:first-child,
.v-controls .fns-config .fns-btn-grp.env.active.hide .fns-btn:last-child {
  visibility: visible;
  display: block;
}
.v-controls .fns-btn-grp-section .fns-btn-grp .fns-btn.color {
  border-radius: 50px;
}
.v-controls .fns-btn-grp-section .fns-btn-grp .fns-btn.color.active {
  margin: 2px;
  border: 3px solid #fff;
}
.v-controls .fns-btn-grp-section .fns-btn-grp .fns-btn.color img {
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.v-controls .fns-btn-grp.disable {
	opacity: 0.5;
	cursor: not-allowed;
}
.v-controls .fns-btn-grp.disable .fns-btn {
	cursor: not-allowed;
}
#vControls {
  visibility: hidden;
  display: none;
}
#vControls.active {
  visibility: visible;
  display: flex;
}
#vControlsLights, #vControlsEnv, #vControlsColorsMain {
  float: left;
}


@keyframes v-config-slide-in {
  0% {
    transform: translate(315px);
	opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 1;
  }
}
@keyframes v-config-slide-out {
  0% {
    transform: translate(0px);
	opacity: 1;
  }
  100% {
    transform: translate(315px);
	opacity: 0;
  }
}

/*
@media only screen and (max-width: 600px) {
  .v-controls .fns-btn {
    height: 42px;
    width: 42px;
  }
}
*/
@media only screen and (max-width: 320px)
  and (orientation: portrait) {
  .v-panels .v-info {
    width: 228px;
  }
}