body {
  margin: 0;
  background-color: #e8e8e8;
  color: #565759;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}
body.active {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab
}
body.interacting {
  cursor: -webkit-grabbing;
  cursor: grabbing
}
a {
  color: #a0a;
  text-decoration: none;
  pointer-events: all;
}
a:hover {
  text-decoration: underline;
}
a[disabled="disabled"] {
  pointer-events: none;
}
canvas {
  display: block;
}
.div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.arkiticon {
  position: absolute;
  top: 30px;
  right: 15px;
  margin: 0;
  padding: 10px;
  z-index: 10;
}
iframe:focus {
  outline: none;
}
iframe[seamless] {
  display: block;
}
.v-area {
  position: absolute;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
}
.v-staging {
  position: absolute;
  margin: 0;
  padding: 0;
  align-self: center;
  width: 100vw;
  z-index: 25;
}
#vStaging {
  height: 100vh;
}
.loading-text {
  color: #595959;
  text-align: center;
}
.loader {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  color: #595959;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
#loading {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;
}
#loading .progress {
  margin: 0;
  border: 1px solid #595959;
  width: 50vw;
  border-radius: 25px;
}
#loading .progressbar {
  margin: 2px;
  background: #595959;
  height: 1em;
  transform-origin: top left;
  width: 50%;
  border-radius: 25px;
}
.fns-btn {
  cursor: pointer;
}
.v-navigations {
  position: absolute;
  float: right;
  top: 15px;
  right: 15px;
  z-index: 75;
}
.v-navigations .fns-btn {
  float: left;
  margin: 5px;
  padding: 1px;
  height: 35px;
  width: 35px;
}
.v-navigations .fns-btn:hover {
  box-shadow: 1px 1px 10px 0 #aaa;
  border-radius: 25px;
}
#vBack {
  visibility: hidden;
  display: none;
}
#vBack.active {
  visibility: visible;
  display: block;
}
.v-toggler {
  position: absolute;
  float: left;
  top: 35px;
  left: 0px;
  z-index: 175;
}
.v-toggler .fns-btn {
  float: left;
  margin: 5px;
  padding: 1px;
  height: 25px;
  width: 25px;
}
.v-toggler .fns-btn:hover {
  margin: 2px;
  border-radius: 50px;
  border: 3px solid #fff;
}
#vPanelsToggle.active #vPanelsOn, #vPanelsToggle #vPanelsOff {
  visibility: hidden;
  display: none;
}
#vPanelsToggle #vPanelsOn, #vPanelsToggle.active #vPanelsOff {
  visibility: visible;
  display: block;
}
.v-panels {
  position: absolute;
  float: left;
  top: 25px;
  left: 25px;
  bottom: 25px;
  color: #808080;
  background: rgb(230, 230, 230);
  background: linear-gradient(0deg, rgba(217, 217, 217, 0.73) 0%, rgba(230, 230, 230, 0.73) 100%);
  border: 5px solid #5c5d60;
  border-width: 5px 0 0 0;
  width: 270px;
  z-index: 150;
}
.v-panels .header {
  font-family: "Roboto Flex";
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-variation-settings: "wght"700, "wdth"150;
}
.v-panels .content {
  padding: 10px;
  font-size: 16px;
}
.v-panels .content .more {
  font-family: "Roboto Flex";
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  font-variation-settings: "wght"300, "wdth"300;
  border: 1px solid #aaa;
  border-width: 0px 0px 1px 0px;
}
.v-panels .footer {
  position: absolute;
  margin: 0;
  padding: 0px;
  bottom: 5px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.v-panels .footer .fns-btn {
  float: left;
  margin: 5px;
  padding: 1px;
  height: 35px;
  width: 35px;
}
.v-panels .footer .fns-btn:hover {
  box-shadow: 1px 1px 10px 0 #aaa;
  border-radius: 25px;
}
.v-panels .footer .fns-btn-grp-section .fns-btn-grp {
  visibility: hidden;
  display: none;
}
.v-panels .footer .fns-btn-grp-section .fns-btn-grp.active {
  visibility: visible;
  display: block;
}
#vPanels {
  visibility: hidden;
  display: none;
}
#vPanels.active {
  visibility: visible;
  display: block;
}
#vPanelsFooterShortcut.active #vSocalOn, #vPanelsFooterShortcut #vSocalOff {
  visibility: hidden;
  display: none;
}
#vPanelsFooterShortcut #vSocalOn, #vPanelsFooterShortcut.active #vSocalOff {
  visibility: visible;
  display: block;
}
#vPanels.lighted {
	color: #fff;
  background: linear-gradient(0deg, rgba(217, 217, 217, 0.1) 0%, rgba(230, 230, 230, 0) 100%);
  border: 5px solid #7b7c7d;
  border-width: 5px 0 0 0;
}
.v-controls {
  position: absolute;
  float: right;
  display: flex;
  right: 15px;
  bottom: 15px;
  z-index: 50;
}
.v-controls .fns-config {
  visibility: hidden;
  display: none;
}
.v-controls .fns-config.active {
  visibility: visible;
  display: flex;
}
.v-controls .fns-btn {
  float: left;
  margin: 5px;
  padding: 1px;
  border-radius: 50px;
  height: 62px;
  width: 62px;
}
.v-controls .fns-btn:hover {
  margin: 2px;
  border: 3px solid #fff;
}
.v-controls .fns-btn-grp-section .fns-btn-grp, 
.v-controls .fns-btn-grp-section .fns-btn-grp .fns-btn, 
.v-controls .fns-btn-grp .fns-btn, 
.v-controls .fns-btn-grp.lights,
.v-controls .fns-btn-grp.lights.active.hide .fns-btn:first-child,
.v-controls .fns-btn-grp.lights.active .fns-btn:last-child,
.v-controls .fns-btn-grp.env.active.hide .fns-btn:first-child,
.v-controls .fns-btn-grp.env.active .fns-btn:last-child {
  visibility: hidden;
  display: none;
}
.v-controls .fns-btn-grp-section .fns-btn-grp.active, 
.v-controls .fns-btn-grp-section .fns-btn-grp .fns-btn.active, 
.v-controls .fns-btn-grp-section .fns-btn-grp .fns-btn.color, 
.v-controls .fns-btn-grp .fns-btn.active, 
.v-controls .fns-btn-grp.lights.active, 
.v-controls .fns-btn-grp.lights.active .fns-btn:first-child,
.v-controls .fns-btn-grp.lights.active.hide .fns-btn:last-child,
.v-controls .fns-btn-grp.env.active,
.v-controls .fns-btn-grp.env.active .fns-btn:first-child,
.v-controls .fns-btn-grp.env.active.hide .fns-btn:last-child {
  visibility: visible;
  display: block;
}
.v-controls .fns-btn-grp-section .fns-btn-grp .fns-btn.color {
  border-radius: 50px;
}
.v-controls .fns-btn-grp-section .fns-btn-grp .fns-btn.color.active {
  margin: 2px;
  border: 3px solid #fff;
}
.v-controls .fns-btn-grp-section .fns-btn-grp .fns-btn.color img {
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
#vControls {
  visibility: hidden;
  display: none;
}
#vControls.active {
  visibility: visible;
  display: flex;
}
#vControlsLights, #vControlsEnv, #vControlsColorsMain {
  float: left;
}
@media only screen and (max-width: 600px) {
  .v-controls .fns-btn {
    height: 42px;
    width: 42px;
  }
}