@font-face {
  font-family: "Moderat Black";
  font-style: normal;
  font-weight: normal;
  src: local("/fonts/Moderat-Black"),
    url("/fonts/Moderat-Black.woff") format("woff");
}
@font-face {
  font-family: "Moderat Bold";
  font-style: normal;
  font-weight: bold;
  src: local("/fonts/Moderat-Bold"),
    url("/fonts/Moderat-Bold.woff") format("woff");
}
@font-face {
  font-family: "Moderat Condensed Light";
  font-style: normal;
  font-weight: normal;
  src: local("/fonts/Moderat-Condensed-Light"),
    url("/fonts/Moderat-Condensed-Light.woff") format("woff");
}
@font-face {
  font-family: "Moderat Medium";
  font-style: normal;
  font-weight: normal;
  src: local("/fonts/Moderat-Medium"),
    url("/fonts/Moderat-Medium.woff") format("woff");
}
//
// @font-face {
//   font-family: "Helvetica Neue LT Std 57 Condensed";
//   font-style: normal;
//   font-weight: normal;
//   src: local("/fonts/Helvetica Neue LT Std 57 Condensed"),
//     url("/fonts/HelveticaNeueLTStd-Cn.woff") format("woff");
// }
//
// @font-face {
//   font-family: "Helvetica Neue LT Std 56 Italic";
//   font-style: normal;
//   font-weight: normal;
//   src: local("/fonts/Helvetica Neue LT Std 56 Italic"),
//     url("/fonts/HelveticaNeueLTStd-It.woff") format("woff");
// }
//
// @font-face {
//   font-family: "Helvetica Neue LT Std 47 Light Condensed";
//   font-style: normal;
//   font-weight: normal;
//   src: local("/fonts/Helvetica Neue LT Std 47 Light Condensed"),
//     url("/fonts/HelveticaNeueLTStd-LtCn.woff") format("woff");
// }
//
// @font-face {
//   font-family: "webfontregular";
//   src: url("/fonts/helveticaneue-thin.woff2") format("woff2"),
//     url("/fonts/helveticaneue-thin.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }
//
// @font-face {
//   font-family: "Helvetica Neue 43 Light";
//   font-style: normal;
//   font-weight: normal;
//   src: local("/fonts/Helvetica Neue 43 Light"),
//     url("/fonts/HelveticaNeueLight.woff") format("woff");
// }
// @font-face {
//   font-family: "Helvetica Neue LT Std 45 Light";
//   font-style: normal;
//   font-weight: normal;
//   src: local("/fonts/Helvetica Neue LT Std 45 Light"),
//     url("/fonts/HelveticaNeueLTStd Lt.woff") format("woff");
// }
//
// @font-face {
//   font-family: "Helvetica Neue LT Std 77 Bold Condensed";
//   font-style: normal;
//   font-weight: normal;
//   src: local("/fonts/Helvetica Neue LT Std 77 Bold Condensed"),
//     url("/fonts/HelveticaNeueLTStd-BdCn.woff") format("woff");
// }
//
// @font-face {
// font-family: 'Helvetica 83 Heavy Extended';
// font-style: normal;
// font-weight: normal;
// src: local('/fonts/Helvetica 83 Heavy Extended'), url('/fonts/HelveticaNeue-HeavyExt.woff') format('woff');
// }
//
// @font-face {
// font-family: 'Helvetica Neue Medium';
// font-style: normal;
// font-weight: normal;
// src: local('Helvetica Neue Medium'), url('/fonts/helveticaneue-mediumext-webfont.woff') format('woff');
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Moderat Black";
  letter-spacing: 0.025rem;
}

@keyframes hand-hint-animation {
    from { transform: translateX(0px); }
    to   { transform: translateX(20px); /* 200px - 20px */ }
}

@keyframes hand-hint-animation {
  0%   { transform: translateX(-2px); }
  5%   { transform: translateX(-4px); }
  10%  { transform: translateX(-6px); }
  15%  { transform: translateX(-8px); }
  20%  { transform: translateX(-10px); }
  25%  { transform: translateX(-8px); }
  30%  { transform: translateX(-6px); }
  35%  { transform: translateX(-4px); }
  40%  { transform: translateX(-2px); }
  50%  { transform: translateX(0px); }
  55%  { transform: translateX(2px); }
  60%  { transform: translateX(4px); }
  65%  { transform: translateX(6px); }
  70%  { transform: translateX(8px); }
  75%  { transform: translateX(10px); }
  80%  { transform: translateX(8px); }
  85%  { transform: translateX(6px); }
  90%  { transform: translateX(4px); }
  95%  { transform: translateX(2px); }
  100% { transform: translateX(0px); }
}
