.heroes{
  margin: 0px;
  display: flex;
  position: relative;
  color: #808080;
  background-color: #E9E8E7;
}
.heroes h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
}
ul li{
  line-height: 1.5rem;
}
.heroesBackground{
  position: absolute;
  top:0px;
  right: 0px;
  display: block;
  background-image: url('./img/background-shapes-3-01.svg');
  background-size: cover;
  background-position: 0px 0px;
  background-repeat: repeat-y;
  z-index: 0;
  width: 80vw;
  height: 100%;
}
.heroesList {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 100vh;
  overflow: visible;
  width: 30vw;
  padding-left:20px;
  display: none;
}
.heroesListInner {
  display: grid;
  height: 100vh;
  width: 30vw;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}
.heroesList .heroesListInner a{
  /* color: #808080; */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding-left: 20px;
  position: relative;
  text-indent: 10px;
  font-size: .8rem;
  line-height: 1.1rem;
  transition: opacity .5s ease;
  opacity: 0.6;
}
.heroesList .heroesListInner a:before{
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: solid 1px #ffffff;
  background: transparent;
  border-radius: 1rem;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: opacity .5s ease;
  opacity: 0.6;
}
.heroesList .heroesListInner a.active{
  opacity: 1;
}
.heroesList .heroesListInner a.active:before{
  opacity: 1;
}
.heroesContent {
  top:0px;
}
.hero {
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  margin-left: 0;
  background-size: cover;
  background-position: center center;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero>h2 {
  display: none;
  position: absolute;
  top: 150px;
  left: 45.5%;
  z-index: 100;
  text-shadow: 1px 1px #666666;
}
.heroSlide {
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  position: relative;
  transition: background-color .5s ease;
}
.slideText{
  position: absolute;
  right: auto;
  left: 10px;
  width: calc(100vw - 40px);
  height: calc(100vh - 60px);
  min-height: calc(600px - 60px);
  top: 10px;
  display: block;
  color: #ffffff;
  text-align: left;
  font-size: .75rem;
  line-height: .9rem;
  text-shadow: 1px 1px #666666;
  transition: opacity .5s ease;
  opacity: 1;
  z-index: 4;
  transition: left 1s ease;
}
.slideText .hero-title{
  width: 100%;
  transition: left 1s ease;
  display: none;
}
.slideText .mobile-title{
  width: 100%;
  transition: left 1s ease;
  display: block;
}
.hero.hideText>.heroSlide .slideTextInner *:not(.hero-title),
.hero.hideText .slide.selected .heroSlide .slideTextInner *:not(.hero-title),
.hero.hideText>.heroSlide .slideText:before,
.hero.hideText .slide.selected .heroSlide .slideText:before{
  opacity: 0;
}
.hero.hideText>.heroSlide .slideText .mobile-title,
.hero.hideText .slide.selected .heroSlide .slideText .mobile-title{
  opacity: 1;
}
.slideText .slideTextInner *:not(.hero-title){
  transition: opacity .5s ease;
  opacity: 1;
}
.slideText:before{
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-top: solid 5px #ffffff;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(255,255,255,0) 85%, rgba(255,255,255,0) 100%);
  transition: opacity .5s ease, left 1s ease;
  opacity: 1;
  z-index: -1;
}
.slideTextInner{
  z-index: 2;
  padding: 0px 10px 10px;
  position: absolute;
  top:0px;
  left:0px;
  padding: 50px 10px 10px 10px;
}
.slideTextInner p{
  font-size: .9rem;
}
.slideTextInner ul{
  padding-left: 1rem;
}
.slideText a{
  color: #ffffff;
  transition: color .5s ease;
}
.hero:not(.visible){
  .heroSlide{
    background-color: #e9e8e7 !important;
  }
  .heroesList .heroesListInner a{
    color: #808080;
  }
  .heroesList .heroesListInner a:before{
    border: solid 1px #808080;
  }
  .slideText:before,
  .slideText .slideTextInner *:not(.hero-title){
    opacity: 0;
  }
  .slideText a {
    color: #808080;
  }
}
.slideImage{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 120%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: 40% bottom;
  img{
    width: 100%;
    height: auto;
  }
}
.hero-title{
  font-size: 2rem;
}

a.hero-home{
  position: absolute;
  top: 30px;
  right: 40px;
  z-index: 10;
  color: #ffffff;
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -9999px;
  background: url('img/home-01.svg');
  background-size: contain;
  background-position: center bottom;
}

.text-toggle-button {
  position: absolute;
  top: 30px;
  left: 19px;
  z-index: 10;
  color: #ffffff;
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -9999px;
  background: url('img/arrow-left-01.svg');
  background-size: cover;
  border: none;
  outline: none;
  transition: transform 1s ease;
}
.hero.hideText .text-toggle-button{
  transform: rotate(180deg);
}

@media only screen and (min-width: 550px) {
  // .slideImage{
  //   bottom: 0px;
  //   left: -54%;
  //   width: 250%;
  //   max-width: 230vh;
  // }
}
@media only screen and (min-width: 600px) {
  .slideText{
    top: 30px;
    left: 30px;
    width: calc(100vw - 80px);
    font-size: 1rem;
  }
  .text-toggle-button {
    top: 50px;
    left: 50px;
  }
  a.hero-home{
    top: 50px;
    right: 70px;
  }
}
@media only screen and (min-width: 800px) {
  .text-toggle-button,
  a.hero-home{
    display: none;
  }
  .slideImage{
    width: 80vw;
    left: 5vw;
  }
  .carousel .control-dots{
    width: 60vw;
    left: 5vw;
  }
  .slideImage.anchorLeft{
    left: 0px;
  }
  .slideText{
    width: 40%;
    left: auto;
    max-width: 550px;
    padding: 30px;
    right: 35px;
    top: 30px;
    max-height: 100%;
  }
  .hero.hideText .slideText{
    left: 55%;
  }
  .slideTextInner{
    padding: 30px;
  }
  .slideTextInner p{
    font-size: 1.2rem;
  }
  .hero {
    margin-left: -30vw;
  }
  .hero>h2{
    display: block;
  }
  .hide-desktop {
    display: none;
  }
  .slideText .hero-title {
    display: block;
  }
  .slideText .mobile-title{
    display: none;
  }
  .heroesList {
    width: 30vw;
    display: block;
  }
  .heroesListInner {
    width: 30vw;
  }
}
@media only screen and (min-width: 1000px) {


}
@media only screen and (min-width: 2000px) {
  p {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .slideText{
    font-size: 2rem;
    line-height: 3rem;
    max-width: 100%;
    p {
      font-size: 2.2rem;
      line-height: 3rem;
    }
  }
  ul li {
    line-height: 3rem;
  }
  .hero .hero-title{
    font-size: 4rem;
    line-height: 5rem;
  }
  .heroesList .heroesListInner a{
    font-size: 1.8rem;
    line-height: 2rem;
    padding-left: 3rem;
  }
  .heroesList .heroesListInner a:before{
    width: 2rem;
    height: 2rem;
  }
}
