.heroes{
  margin: 0px;
  display: flex;
  position: relative;
  color: #808080;
  background-color: #E9E8E7;
}
.heroes h1,h2,h3,h4,h5,h6{
  color: #ffffff;
  text-transform: uppercase;
}
.heroesList {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 100vh;
  overflow: visible;
  width: 220px;
  padding-left:20px;
}
.heroesListInner {
  display: grid;
  height: 100vh;
  width: 220px;
  align-items: center;
  justify-content: space-between;
}
.heroesList .heroesListInner a{
  /* color: #808080; */
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding-left: 20px;
  position: relative;
  text-indent: 10px;
}
.heroesList .heroesListInner a:before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 1px #ffffff;
  background: transparent;
  border-radius: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.heroesList .heroesListInner a.active{
  color: #E11734;
}
.heroesList .heroesListInner a.active:before{
  background: #E11734;
  border-color: #E11734;
}
.heroesContent {
  top:0px;
}
.hero {
  width: 100vw;
  height: 100vh;
  margin-left: -220px;
  background-size: cover;
  background-position: center center;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero>h2 {
  position: absolute;
  top: 150px;
  right: 50%;
  z-index: 100;
}
.heroSlide {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url('./img/background-shapes-01.svg');
  background-position: right bottom;
  background-size: cover;
}
.slideText{
  position: absolute;
  right: 10%;
  width: 30%;
  height: calc(100vh - 40px);
  top: 20px;
  display: block;
  color: #ffffff;
  text-align: left;
  padding: 30px;
  border-top: solid 5px #333333;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,0.07886904761904767) 0%, rgba(255,255,255,0) 75%, rgba(255,255,255,0) 100%);
}
.slideText a{
  color: #ffffff;
}
.slideImage{
  position: absolute;
  left: 10%;
  height: 100vh;
  width: 60%;
  display: flex;
  align-items: flex-end;
}
