@import "reset.scss";
@import "global.scss";
@import "~react-responsive-carousel/lib/styles/carousel.min.css";
@import "slider.scss";

.carousel-root {
  height: calc(100vh - 40px);
  width: 100vw;
}
.carousel .control-dots {
  bottom: 20px;
  z-index: 100;
}
.carousel .control-dots .dot{
  width: 20px;
  height: 20px;
  margin: 0 20px;
  outline: none;
  font-size: 0px;
}
.carousel .control-dots .dot:focus{
  outline: none;
}
button {
  outline: none;
}

p {
  font-size: 1rem;
  line-height: 1.45;
  margin: 1rem 0;

}
@import "heroes.scss";
