@import "~react-responsive-carousel/lib/styles/carousel.min.css";
@import "heroes.scss";
.carousel-root {
  height: calc(100vh - 40px);
  width: 100vw;
}
.carousel .control-dots {
  bottom: 20px;
  z-index: 100;
}
.carousel .control-dots .dot{
  width: 16px;
  height: 16px;
  margin: 0 16px;
  outline: none;
}
.carousel .control-dots .dot:focus{
  outline: none;
}
button {
  outline: none;
}

p {
  font-size: 1rem;
  line-height: 1.45;
  margin: 1rem 0;

}
